.accordion-row {
  cursor: pointer;

  td:first-child {
    padding-left: calc(
      var(--table-cell-padding-h) + var(--table-accordion-cell-padding)
    );

    &::before {
      content: '';
      position: absolute;
      top: 0.8em;
      left: var(--table-cell-padding-h);
      border: var(--table-accordion-width) solid transparent;
      border-top-color: var(--table-cell-text-color);
      width: 0;
      height: 0;
    }
  }

  &.is-open {
    td:first-child {
      &::before {
        top: 0.2em;
        transform: scaleY(-1);
      }
    }
  }
}

.accordion-group {
  &-enter {
    opacity: 0.01;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }

  &-leave {
    opacity: 1;
  }

  &-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
  }
}
