.accordion-row {
  cursor: pointer;
  position: relative;

  td:first-child {
    padding-left: calc(
      var(--table-cell-padding-h) + var(--table-accordion-cell-padding)
    );

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: var(--table-cell-padding-h);
      margin-top: -0.2em;
      border: var(--table-accordion-width) solid transparent;
      border-top-color: var(--table-cell-text-color);
      width: 0;
      height: 0;
    }
  }

  &.is-open {
    td:first-child {
      &::before {
        margin-top: -0.8em;
        transform: scaleY(-1);
      }
    }
  }
}
