.accordion-row {
  cursor: pointer;

  td:first-child {
    padding-left: calc(
      var(--table-cell-padding-h) + var(--table-accordion-cell-padding)
    );

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 0.2em);
      left: var(--table-cell-padding-h);
      border: var(--table-accordion-width) solid transparent;
      border-top-color: var(--table-cell-text-color);
      width: 0;
      height: 0;
    }
  }

  &.is-open {
    td:first-child {
      &::before {
        top: calc(50% - 0.8em);
        transform: scaleY(-1);
      }
    }
  }
}
