.header-row {
  td {
    padding: var(--table-header-cell-padding-v)
      var(--table-header-cell-padding-h);
    background-color: var(--table-header-bg);
    color: var(--table-header-color);
    font-size: var(--table-header-fz);
    line-height: var(--table-header-lh);
    font-weight: var(--table-header-fw);
  }

  &.accordion-row {
    $accordion-padding: calc(
      var(--table-header-cell-padding-h) + var(--table-accordion-cell-padding)
    );

    td:first-child {
      padding-left: $accordion-padding;

      &::before {
        left: var(--table-header-cell-padding-h);
        border-top-color: var(--table-header-color);
      }
    }
  }
}
