.highlight-row {
  td {
    background-color: var(--table-highlight-bg);
    font-size: var(--table-highlight-fz);
    line-height: var(--table-highlight-lh);
    font-weight: var(--table-highlight-fw);
  }
}
