.highlight-row {
  td {
    padding: var(--table-highlight-cell-padding-v)
      var(--table-highlight-cell-padding-h);
    background-color: var(--table-highlight-bg);
    color: var(--table-highlight-color);
    font-size: var(--table-highlight-fz);
    line-height: var(--table-highlight-lh);
    font-weight: var(--table-highlight-fw);
  }

  &.accordion-row {
    td:first-child {
      padding-left: calc(
        var(--table-highlight-cell-padding-h) +
          var(--table-accordion-cell-padding)
      );

      &::before {
        left: var(--table-highlight-cell-padding-h);
        border-top-color: var(--table-highlight-color);
      }
    }
  }
}
