.subheader-row {
  td {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--table-subheader-bg);
    font-size: var(--table-subheader-fz);
    line-height: var(--table-subheader-lh);
    font-weight: var(--table-subheader-fw);
  }
}
