.toggle {
  position: relative;
  display: inline-block;
  cursor: pointer;

  input[type='checkbox'] {
    appearance: none;
    position: absolute;

    // bigger hit area, some visual feedback
    inset: calc(-1 * var(--space-sml));
    background-color: transparent;
    cursor: pointer;
    border: 0;
    z-index: 1;
  }

  .track {
    background-color: var(--toggle-inactive-track-bg);
    width: var(--toggle-track-w);
    height: var(--toggle-track-h);
    border-radius: var(--toggle-track-br);
    display: inline-block;
    vertical-align: middle;

    // margin-top: var(--toggle-track-mt);

    .switch {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--toggle-inactive-switch-bg);
      height: var(--toggle-switch-w);
      width: var(--toggle-switch-h);
      margin: var(--toggle-switch-m);
      border-radius: var(--toggle-switch-br);
      transition: all 150ms ease-in-out;
      transform: translate3d(0, 0, 0);
      text-align: center;

      .icon {
        opacity: 0;
        transition: opacity 150ms ease-in-out;

        svg {
          fill: var(--toggle-inactive-icon-bg);
        }
      }
    }
  }

  .label {
    font-size: var(--toggle-label-fz);
    line-height: var(--toggle-label-lh);
    font-weight: var(--toggle-label-fw);

    &.label-align-left {
      margin-right: var(--toggle-label-margin);
    }

    &.label-align-right {
      margin-left: var(--toggle-label-margin);
    }
  }

  &.is-active {
    .track {
      background-color: var(--toggle-active-track-bg);

      .switch {
        background-color: var(--toggle-active-switch-bg);
        height: var(--toggle-switch-active-w);
        width: var(--toggle-switch-active-h);
        margin: var(--toggle-switch-active-m);
        transform: translate3d(12px, 0, 0);

        .icon {
          opacity: 1;

          svg {
            fill: var(--toggle-active-icon-bg);
          }
        }
      }
    }
  }

  &.is-disabled {
    cursor: none;

    .track {
      background-color: var(--toggle-disabled-track-bg);

      .switch {
        background-color: var(--toggle-disabled-switch-bg);

        .icon {
          svg {
            fill: var(--toggle-disabled-icon-bg);
          }
        }
      }
    }
  }
}
