.column {
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }

  &.gap-x-small > *:not(:first-child) {
    margin-top: var(--col-gap-xsml);
  }

  &.gap-x-small > *:not(:last-child) {
    margin-bottom: var(--col-gap-xsml);
  }

  &.gap-small > *:not(:first-child) {
    margin-top: var(--col-gap-sml);
  }

  &.gap-small > *:not(:last-child) {
    margin-bottom: var(--col-gap-sml);
  }

  &.gap-medium > *:not(:first-child) {
    margin-top: var(--col-gap-med);
  }

  &.gap-medium > *:not(:last-child) {
    margin-bottom: var(--col-gap-med);
  }

  &.gap-large > *:not(:first-child) {
    margin-top: var(--col-gap-lrg);
  }

  &.gap-large > *:not(:last-child) {
    margin-bottom: var(--col-gap-lrg);
  }

  &.gap-x-large > *:not(:first-child) {
    margin-top: var(--col-gap-xlrg);
  }

  &.gap-x-large > *:not(:last-child) {
    margin-bottom: var(--col-gap-xlrg);
  }

  &.gap-flex-around {
    justify-content: space-around;
  }

  &.gap-flex-between {
    justify-content: space-between;
  }

  &.gap-flex-evenly {
    justify-content: space-evenly;
  }
}
