.row {
  flex-direction: row;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.gap-x-small > *:not(:first-child) {
    margin-left: var(--row-gap-xsml);
  }

  &.gap-x-small > *:not(:last-child) {
    margin-right: var(--row-gap-xsml);
  }

  &.gap-small > *:not(:first-child) {
    margin-left: var(--row-gap-sml);
  }

  &.gap-small > *:not(:last-child) {
    margin-right: var(--row-gap-sml);
  }

  &.gap-medium > *:not(:first-child) {
    margin-left: var(--row-gap-med);
  }

  &.gap-medium > *:not(:last-child) {
    margin-right: var(--row-gap-med);
  }

  &.gap-large > *:not(:first-child) {
    margin-left: var(--row-gap-lrg);
  }

  &.gap-large > *:not(:last-child) {
    margin-right: var(--row-gap-lrg);
  }

  &.gap-x-large > *:not(:first-child) {
    margin-left: var(--row-gap-xlrg);
  }

  &.gap-x-large > *:not(:last-child) {
    margin-right: var(--row-gap-xlrg);
  }

  &.gap-flex-around {
    justify-content: space-around;
  }

  &.gap-flex-between {
    justify-content: space-between;
  }

  &.gap-flex-evenly {
    justify-content: space-evenly;
  }
}
