.dropdown {
  position: relative;
  cursor: pointer;

  &.readonly {
    cursor: default;
    border: none;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }

  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: var(--dropdown-input-padding);
    border-radius: var(--dropdown-input-border-radius);
    background-color: var(--dropdown-input-bg-color);
    border: var(--dropdown-input-border);

    svg {
      fill: var(--dropdown-icon-color);
    }

    .input-icon {
      padding-top: 2px;
      margin-right: var(--space-sml);
    }

    .arrow-icon {
      margin-left: var(--space-sml);
    }

    .input-label {
      flex: 1;
      margin-top: 0;
      color: var(--dropdown-label-color);
      font-family: var(--dropdown-label-ff);
      font-size: var(--dropdown-label-fz);
      line-height: var(--dropdown-label-lh);
      font-weight: var(--dropdown-label-fw);
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--dropdown-options-bg-color);
  padding: var(--dropdown-options-pad-top) var(--dropdown-options-pad-right)
    var(--dropdown-options-pad-bottom) var(--dropdown-options-pad-left);
  border-radius: var(--dropdown-options-border-radius);
  box-shadow: var(--dropdown-options-box-shadow);
  overflow: hidden auto;

  &:focus {
    outline: none;
  }

  &.has-options-arrow {
    &::before {
      content: '';
      position: absolute;
      right: 13px;
      width: 0;
      height: 0;
      border: var(--space-med) solid transparent;
    }

    &.direction-bottom {
      &::before {
        top: -23px;
        border-bottom-color: var(--dropdown-options-bg-color);
      }
    }

    &.direction-top {
      &::before {
        bottom: -23px;
        border-top-color: var(--dropdown-options-bg-color);
      }
    }
  }
}
