.toggle {
  height: 45px;
  width: 30px;
  position: absolute;
  left: -30px;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  .screenshot-full & {
    display: none;
  }

  &:hover::before {
    margin-bottom: 8px;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: var(--color-text);
    margin-bottom: 4px;
    transition: margin-bottom 150ms ease-out;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: var(--color-text);
  }
}
