.table-wrapper {
  width: 100%;

  // Don't want to apply width: 100% to potential editable tables
  // inside of a table, so explicitly adding to .table class
  .table {
    width: 100%;
  }

  td {
    position: relative;
    border-left: var(--table-cell-border);
    border-right: var(--table-cell-border);
    border-top: var(--table-row-border);
    border-bottom: var(--table-row-border);
  }

  // reset all tables inside of wrapper
  table {
    border: none;
    table-layout: fixed;
    border-spacing: 0;
    border-radius: var(--table-border-radius);

    td {
      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    tr {
      &:first-child {
        > td {
          border-top: none;

          &:first-child {
            border-top-left-radius: var(--table-border-radius);
          }

          &:last-child {
            border-top-right-radius: var(--table-border-radius);
          }
        }
      }

      &:last-child {
        > td {
          border-bottom: none;

          &:first-child {
            border-bottom-left-radius: var(--table-border-radius);
          }

          &:last-child {
            border-bottom-right-radius: var(--table-border-radius);
          }
        }
      }
    }
  }

  &.has-border {
    table {
      tr {
        &:first-child > td {
          border-top: var(--table-row-border);
        }

        &:last-child > td {
          border-bottom: var(--table-row-border);
        }

        td {
          &:first-child {
            border-left: var(--table-cell-border);
          }

          &:last-child {
            border-right: var(--table-cell-border);
          }
        }
      }
    }
  }

  &.table-sticky {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--table-border-radius);

    &.table-sticky-row {
      overflow: hidden auto;

      .table.is-sticky {
        // Specificity to prevent sticky styles attaching to
        // editable tables that may appear within the hardcoded tables
        // (eg. Advice Strategy Recs)
        > tr,
        > thead > tr,
        > tbody > tr {
          // 2nd child sticky skips over the "empty" row colSpan fix
          &:nth-child(2) {
            > th,
            > td {
              position: sticky;
              top: 0;
              z-index: 2;
            }
          }
        }
      }
    }

    &.table-sticky-column {
      overflow: auto hidden;

      .table.is-sticky {
        > tr,
        > thead > tr,
        > tbody > tr {
          > th,
          > td {
            &:first-child {
              position: sticky;
              left: 0;
              z-index: 1;

              &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -1px;
                bottom: 0;
                width: 2px;
                background-color: var(--table-row-border);
              }
            }
          }
        }
      }
    }

    &.table-sticky-row.table-sticky-column {
      overflow: auto;
    }
  }

  // cell class to prevent double-borders
  .has-span-left {
    border-left: none !important;

    // first / last row guards
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.block-horizontal-scroll {
  overflow-x: hidden;
}
