:root {
  --button-color-bg: var(--color-brand-1);
  --button-color-hover: var(--color-brand-1-d2);
  --button-color-active: var(--color-brand-1-l1);
  --button-color-focus: var(--color-black);
  --button-color-icon: var(--color-white);
}
