:root {
  --modal-padding: 20px;
  --modal-padding-top: var(--modal-padding);
  --modal-padding-sides: var(--modal-padding);
  --modal-padding-bottom: var(--modal-padding);
  --modal-width: calc(100% - (var(--slide-pad-sides) * 2));
  --modal-border-radius: var(--border-radius-med);
}
