:root {
  --modal-padding: 20px;
  --modal-padding-top: var(--modal-padding);
  --modal-padding-sides: var(--modal-padding);
  --modal-padding-bottom: var(--modal-padding);
  --modal-margin-sides: var(--slide-pad-sides);
  --modal-width: auto;
  --modal-border-radius: var(--border-radius-med);
}
