:root {
  --slide-bg-color: var(--color-bg-1);

  // Slide padding
  --slide-pad-sides: 120px;
  --slide-pad-left: var(--slide-pad-sides);
  --slide-pad-right: var(--slide-pad-sides);
  --slide-pad-top: 30px;
  --slide-pad-bottom: 28px;
}
