:root {
  // Table (parent component)

  --table-border: 2px solid transparent;
  --table-fz: var(--text-fz-h6);
  --table-lh: var(--text-lh-h6);
  --table-fw: var(--text-fw-medium);
  --table-border-radius: var(--border-radius-none);

  // Table.Row (child component)
  --table-row-bg: transparent;
  --table-row-border: 2px solid var(--border-color);

  // header variant
  --table-header-bg: var(--color-brand-1);
  --table-header-fz: var(--text-fz-p);
  --table-header-lh: var(--text-lh-p);
  --table-header-fw: var(--text-fw-bold);

  // subheader variant
  --table-subheader-bg: var(--color-brand-1-l1);
  --table-subheader-fz: var(--table-fz);
  --table-subheader-lh: var(--table-lh);
  --table-subheader-fw: var(--text-fw-medium);

  // highlight variant - override with brand colours etc
  --table-highlight-bg: var(--color-brand-1-l2);
  --table-highlight-fz: var(--table-fz);
  --table-highlight-lh: var(--table-lh);
  --table-highlight-fw: var(--text-fw-medium);

  // title variant
  --table-title-fz: var(--table-header-fz);
  --table-title-lh: var(--table-header-lh);
  --table-title-fw: var(--table-header-fw);

  // Table.Cell
  --table-cell-bg: transparent;
  --table-cell-border: 2px solid var(--border-color);
  --table-cell-padding-v: 10px;
  --table-cell-padding-h: 20px;
  --table-cell-text-align: center;
  --table-cell-v-align: center;
  --table-cell-text-color: var(--color-text);
}
