:root {
  // Tabs (parent component)
  --tabs-margin-bottom: var(--space-med);
  --tabs-border-radius: 0;

  // Tab (child component)
  --tab-justify: center;
  --tab-label-fz: var(--text-fz-h5);
  --tab-label-lh: var(--text-lh-h5);
  --tab-label-fw: var(--text-fw-normal);
  --tab-pad: var(--space-sml);
  --tab-bg: var(--color-bg-2);
  --tab-text: var(--color-text);
  --tab-bg-active: var(--color-brand-1);
  --tab-text-active: var(--color-contrast-1);
  --tab-label-fw-active: var(--tab-label-fw);

  // Underline that appears on base of tab when active
  --tab-underline-color: var(--color-brand-1);
  --tab-underline-height: var(--space-xsml);
}
