.wrapper {
  position: relative;
  width: 100%;
}

.date-picker {
  font-size: var(--date-picker-fz);
  line-height: var(--date-picker-lh);
  font-weight: var(--date-picker-fw);
  font-family: var(--date-picker-ff);
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 26px;
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
  }
}
