.wrapper {
  position: relative;
}

:global(.flatpickr) {
  position: relative;
  flex: 1;
}

.date-picker {
  font-size: var(--date-picker-fz);
  line-height: var(--date-picker-lh);
  font-weight: var(--date-picker-fw);
  font-family: var(--date-picker-ff);
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;
  width: 100%;
}

.calendar-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.icon {
  width: 26px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.remove-button {
  margin-left: 4px;
}
