@import '../../css/style-mixins';

.p {
  @include p-styles;

  min-height: calc(var(--text-lh-p) + 4px);

  // TODO: We need to do these to override the global "first-child" margin
  // added to the header tags. Perhaps the global one should be more
  // specific?
  margin-top: 0;
}

.h1 {
  @include h1-styles;

  min-height: calc(var(--text-lh-h1) + 4px);
}

.h2 {
  @include h2-styles;

  min-height: calc(var(--text-lh-h2) + 4px);
  margin-top: 0;
}

.h3 {
  @include h3-styles;

  min-height: calc(var(--text-lh-h3) + 4px);
  margin-top: 0;
}

.h4 {
  @include h4-styles;

  min-height: calc(var(--text-lh-h4) + 4px);
  margin-top: 0;
}

.h5 {
  @include h5-styles;

  min-height: calc(var(--text-lh-h5) + 4px);
  margin-top: 0;
}

.h6 {
  @include h6-styles;

  min-height: calc(var(--text-lh-h6) + 4px);
  margin-top: 0;
}

@mixin shared-styles {
  cursor: pointer;
  padding: 2px;
}

.edit,
.input,
.readonly,
.disabled {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.edit {
  outline: 1px solid #3c80f6;
  @include shared-styles;
}

.input {
  outline: none;
  width: 100%;
  border: 0;
  background: none;

  &:focus {
    border: 0;
    outline: 1px solid #3c80f6;
    padding: 2px;
    margin: 0;
  }

  @include shared-styles;
}

.readonly {
  padding: 2px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
