.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  padding: var(--modal-padding-top) var(--modal-padding-sides)
    var(--modal-padding-bottom);
  margin: auto var(--modal-margin-sides);
  border-radius: var(--modal-border-radius);
  background-color: var(--color-bg-1);
  max-height: 80%;

  .contents {
    max-height: 100%;
    overflow: auto;
  }
}

.shroud {
  position: absolute;
  inset: 0;
  background-color: var(--color-black);
  opacity: 0.4;

  &.is-clickable {
    cursor: pointer;
  }
}
