.wrapper {
  display: flex;
  min-width: 0;

  .before-ellipsis {
    flex: 0 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .after-ellipsis {
    flex: none;
  }
}
