:root {
  --grid-gap-sml: 10px;
  --grid-gap-med: 30px;
  --grid-gap-lrg: 50px;
  --col-gap-sml: var(--grid-gap-sml);
  --col-gap-med: var(--grid-gap-med);
  --col-gap-lrg: var(--grid-gap-lrg);
  --row-gap-sml: var(--grid-gap-sml);
  --row-gap-med: var(--grid-gap-med);
  --row-gap-lrg: var(--grid-gap-lrg);
}
